<article class='feed js-feed'>

	<div class='content-feed'>
		<a href='{{ link }}' target='_blank'>
			<h3 class='js-title'>{{ title }}</h3>

			<div class='summary js-summary'>
				 {{ content }}
			</div>
		</a>

		<footer class='author'>
			<small class='name'>{{ author }}</small>
			<small class='published'>{{ published }}</small>
		</footer>
	</div>
	<div class='wrapper-break break-style-{{ odd }}'></div>
</article>